/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}


body {
    /* padding-top: 56px; */

}

#feed {
    padding-top: 70px;
    background: #FAFAFA;
    min-height: 90vh;
}

.evento {
    border-top-left-radius: 100px;
    border-top: 5px solid #25a1dd;
    border-bottom-right-radius: 100px;
    border-bottom: 5px solid #a4cb5b;
    margin-top: 10px;
    margin-bottom: 15px;
}

.card-body h2 {
    margin: 20px 50px;
}

.img-feed {
    float: left;
    display: inline-block;
    margin: 0 10px;
    width: 20%;
}

.img-feedVazio {
    float: left;
    display: inline-block;
    margin: 0 10px;
    width: 40%;
}

.foto-post {
    width: 100%;
}

.foto-feed-vazio {
    width: 100%;
    margin-top: 20px;
}

.descricao-feed {
    display: inline-block;
    width: 77%;
}

.card-footer {
    margin-top: 5px;
}

.nav-lateral {
    text-align: justify;
}

.menu-suspenso-feed{
  margin: 0 auto;
}

.botao_criar-eventos {
    border-radius: 30px;
    margin: 25px;
    font-size: 1.5em;
    color: #fff;
    line-height: 1.2;
    background: -webkit-linear-gradient(left, #1b9bdb, #84b331);
    -moz-box-shadow:
      0px 0px 30px rgba(000,000,000,1),
      inset 0px 0px 0px rgba(17,97,140,0);
    -webkit-box-shadow:
      0px 0px 30px rgba(000,000,000,1),
      inset 0px 0px 0px rgba(17,97,140,0);
    box-shadow:
      0px 0px 30px rgba(000,000,000,1),
      inset 0px 0px 0px rgba(17,97,140,0);
}


.botao_criar-eventos i {
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.botao_criar-eventos:hover {
    border-radius: 30px;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #fff;
    line-height: 1.2;
    background: -webkit-linear-gradient(left, #84b331, #1b9bdb);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.botao_criar-eventos:hover i {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
}

.botao_eventos {
	font-size: 20px;
	color: #ffffff;
	padding: 5px 30px;
	background: #1b9bdb;
	/* -moz-border-radius: 19px;
	-webkit-border-radius: 19px;
	/* border-radius: 19px; */
	border: 0px solid #134201;
}

.botao_eventos:hover, .botao_eventos:active {
	font-size: 20px;
	color: #ffffff;
	padding: 5px 40px;
	background: #1b9bdb;
	border-radius: 50px;
	border: 0px solid #134201;
  left: 50px;
  transition: 0.7s;
}

.scrolldropup{
  margin-bottom: -23px !important;
  height: auto;
  max-height: 320px;
  overflow-x: hidden;
}




@media (max-width:576px) {

    .card-body h2 {
        margin: 0px;
        display: inline-block;
        width: 70%;
    }

    .descricao-feed {
        display: inline-block;
        width: 100%;
    }

@media(max-width:464px){

    .evento {
    padding: 25px;
  }
}
